<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bug_orange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>bug_orange_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>bug_orange_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1778},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>bug_orange_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1556},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>bug_orange_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>bug_orange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>bug_orange_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>bug_orange_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1778},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>bug_orange_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1556},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>bug_orange_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>bug_orange_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>bug_orange_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>bug_orange_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>card_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1778},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>card_blueplus.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1556},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>card_mask_show_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1556},{151,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{151,202}}</string>
                <key>sourceSize</key>
                <string>{151,204}</string>
            </dict>
            <key>card_puple.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>card_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>card_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>heart_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>heart_red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>heart_red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1556},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>heart_red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>heart_red_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>heart_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>heart_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>heart_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>heart_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>heart_red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1778},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>heart_red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1556},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>heart_red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>heart_red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>joker_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>joker_baow.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>joker_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>joker_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>joker_huangw.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>joker_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1778},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>plum_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1556},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>plum_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>plum_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>plum_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>plum_black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>plum_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>plum_black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>plum_black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>plum_black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>plum_black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>plum_black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>plum_black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>plum_black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>spade_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>spade_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>spade_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>spade_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>spade_black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>spade_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>spade_black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>spade_black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>spade_black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>spade_black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>spade_black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>spade_black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>spade_black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>square_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>square_red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>square_red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>square_red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>square_red_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>square_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>square_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>square_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>square_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>square_red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>square_red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>square_red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>square_red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1460,1940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b70ea6975c2cef6484aeed6eabe06d2:1/1$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
